@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

:root {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size-m);
}

html, body {
    width: 100%;
    height: 100%;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}