.AppLayout {
  height: 100vh;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 6rem auto 6rem;
  grid-template-areas:
          'navbar navbar'
          'sidebar main'
          'footer footer';
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}