:root {
    --font-family-main: rubik, 'Times New Roman', serif;

    --font-size-s: 1.4rem;
    --font-line-s: 2.2rem;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    --font-size-m: 1.6rem;
    --font-line-m: 2.4rem;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 2.4rem;
    --font-line-l: 3.2rem;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --font-size-xl: 3.2rem;
    --font-line-xl: 4rem;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    --color-light: #fafaff;
    --color-dark: #22232a;

    --navbar-height: 6rem;

    --button-size-s: 2.2rem;
    --button-size-default: 3.2rem;
    --button-size-l: 4rem;

    --button-font-size-s: var(--font-size-s);
    --button-font-size-default: var(--font-size-m);
    --button-font-size-l: var(--font-size-m);

    --button-font-line-s: var(--font-line-s);
    --button-font-line-default: var(--font-line-m);
    --button-font-line-l: var(--font-line-m);
}
