.Button {
    padding: 0.2rem 0.4rem;
    cursor: pointer;
}

.clear {
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
}

.outlined {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
