.Sidebar {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--sidebar-bg);
}

.collapsed {
  width: 10rem;
}

.content {
  flex-grow: 1;
}

.themeSwitcher {
  justify-self: flex-end;
}