.app.dark {
  --bg-color: #18192C;

  --primary-color: #fafaff;
  --secondary-color: #cfcfd3;

  --inverted-primary-color: #22232A;
  --inverted-secondary-color: #2c2c2f;

  --navbar-bg: #252744;
  --navbar-color: var(--primary-color);

  --footer-bg: #252744;
  --footer-color: var(--primary-color);

  --sidebar-bg: #1c1d34;
}