.app.light {
    --bg-color: #fff;

    --primary-color: #22232a;
    --secondary-color: #2c2c2f;

    --inverted-primary-color: #fafaff;
    --inverted-secondary-color: #cfcfd3;

    --navbar-bg: #252744;
    --navbar-color: var(--inverted-primary-color);

    --footer-bg: #252744;
    --footer-color: var(--inverted-primary-color);

    --sidebar-bg: #f1f1f1;
}
